$scrollbar-width: 5px;
$chat-thread-bgd-color: #515E54AA;
$chat-thread-msg-arrow-size: 10px;
$default-shadow-color: rgb(0, 0, 0);
$chat-thread-avatar-size: 25px;
$chat-thread-offset: #{$chat-thread-avatar-size + 20px};